/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a 
{
	color: black;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: #FFFEF8;
	max-width: 1140px;
	margin:0 auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
    font-size: 0.9em;
	gap: 30px;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul a .last
{
    font-weight: bold;
}

.instagram
{
	width: 20px;
}

li:hover {
	color: #B1663C;
}

/* Section Login */
.login 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 0.9em;
    color: #3D3D3D;
    margin-top: 120px;
}

.login form 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.login form div 
{
    margin-top: 20px;
}

.login form div label 
{
    font-size: 0.9em;
}

.login form input
{
    margin-top: 6px;
    display: block;
    width: 300px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

.login .submit 
{
    margin-top: 30px;
	padding: 8px 20px;
    background-color: #1D6154;
    width: 150px;
    font-family: "Work Sans";
    text-align: center;
    color: #fff;
    border-radius: 20px;
	border: none;
}

.login .submit:hover
{
    background-color: #fff;
    color: #1D6154;
	border: 1px solid #1D6154;
}

.login a
{
    color: #3D3D3D;
    margin-top: 30px;
    text-decoration: underline;
}

.login .errorText
{
	color: red;
	margin-top: 30px;
}

footer 
{
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0px;
}

footer nav 
{
    font-size: 0.9em;
    margin-right: 90px;
}


