.modaleGalery
{
	z-index: 2;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	align-items: center;
	gap: 10px;
}

button 
{
	border: none;
}

.modaleGalery .closeModaleGalery
{
	display: flex;
	width: 100%;
	margin-top: -30px;
	justify-content: flex-end;
	background-color: transparent;
	border: none;
}

.modaleGalery i
{
	font-size: 1.2em;
}

.modaleGalery h2 
{
	margin-top: 10px;
	color: black;
	font-size: 1.5em;
	font-weight: 400;
}

.modaleGalery .projects 
{
	margin-top: 30px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 75%;
	gap: 17px;
}

hr 
{
	border: 0.1px solid gray;
	width: 75%;
}

.modaleGalery .projects .project 
{
	position: relative;
	width: 65px;
	height: 100px;
}

.modaleGalery .projects .project img 
{
	width: 100%;
	height: 90%;
	object-fit: cover;
	object-position: center;
}

.modaleGalery .projects .project p
{
	font-size: 0.9em;
}

.modaleGalery .projects .project button
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	top: 3px;
	right: 3px;
}

.modaleGalery .projects .project i
{
	font-size: 0.7em;
	color: white;
}

.modaleGalery button 
{
	width: 30%;
}

.modaleGalery .addPhoto 
{
	margin-top: 20px;
	width: 35%;
	border: none;
	font-family: "Syne";
	font-weight: normal;
	padding: 9px 15px;
	font-style: normal;
	border-radius: 20px;
	background-color: #1D6154;
	color: white;
	font-size: 0.9em;
}

.modaleGalery .deletePhoto 
{
	margin-top: 10px;
	background-color: transparent;
	border: none;
	color: #D65353;
	font-family: "Syne";
	font-style: normal;
	font-size: 0.8em;
}